body {
    color: white;
    background-color: #003153; /*Prussian Blue*/
}
p {
    font-size: 18px;
}
b {
    color: #B3A369; /*Tech Gold*/
}


.navbar-inverse {
    margin-bottom: 100px;
}
.footer {
   margin:50px;
}
.header {
   margin:50px;
}
