html {
    overflow-y: scroll;
}

body {
    color: white;
    background-color: #003153; /*Prussian Blue*/
}
p {
    font-size: 18px;
}
b {
    color: #B3A369; /*Tech Gold*/
}

.nav.navbar-nav.navbar-left li a {
    color: #B3A369; /*Tech Gold*/
}
.navbar-inverse .navbar-brand {
    color: #B3A369; /*Tech Gold*/
}
.navbar-inverse {
    margin-bottom: 100px;
}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
}
.menu-text,
.menu-text > span,
.menu-text > li > a {
    color: #B3A369; /*Tech Gold*/
    background-color: #222;
}
.menu-text > li > a:hover {
    color: #B3A369; /*Tech Gold*/
    background-color: #222;
    text-shadow:2px 2px 20px white;
}
.footer {
   margin:50px;
}
.header {
   margin:50px;
}
.resume-section {
    margin-bottom:100px;
}
.color-1 {
    background-color:#003153;
}
.color-2 {
    background-color:#6a4899;
}
