body {
    color: white;
    background-color: #003153; /*Prussian Blue*/
}

p {
    font-size: 18px;
}
b {
    color: #B3A369; /*Tech Gold*/
}
.nav.navbar-nav.navbar-left li a {
    color: #B3A369; /*Tech Gold*/
}
.navbar-inverse .navbar-brand {
    color: #B3A369; /*Tech Gold*/
}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
}
.menu-text,
.menu-text > span,
.menu-text > li > a {
    color: #B3A369; /*Tech Gold*/
    background-color: #222;
}
.menu-text > li > a:hover {
    color: #B3A369; /*Tech Gold*/
    background-color: #222;
    text-shadow:2px 2px 20px white;
}
.footer {
   padding: 100px;
}
.header {
   padding: 100px 100px 100px 100px;
}
.resume-section {
    padding-bottom:50px;
    padding-top:50px;
}
.color-1 {
    /*background-color:#2E1760;*/
/*	background: linear-gradient(#17245A,#2E1761,#17245A);*/
	background: linear-gradient(#003153,#2E1761,#003153);
}
.color-2 {
    /*background-color:#003153;*/
/*	background: linear-gradient(#17245A,#003153,#17245A);*/
	background: linear-gradient(#003153,#2E1761,#003153);

}
.img-responsive {
    display: inline;
}
